@import url(normalize.css);
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('../fonts/open-sans/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), url('../fonts/open-sans/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Italic'), url('../fonts/open-sans/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Bold'), url('../fonts/open-sans/OpenSans-Bold.woff') format('woff');
}
.openSans {
  font-family: 'Open Sans', Arial, serif;
  font-weight: 300;
}
.openSansBold {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
}
.openSansExtraB {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
}
.openSansItalic {
  font-family: 'Open Sans Italic', Arial, serif;
  font-weight: 300;
  font-style: italic;
}
.openSansLight {
  font-family: 'Open Sans Light', Arial, serif;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 4.1rem;
  text-transform: uppercase;
  margin: 0;
  margin-left: 8rem;
}
hr {
  width: 6rem;
  height: 1rem;
  border: none;
  margin: 4rem 0;
  margin-left: 8rem;
}
p {
  font-family: 'Open Sans', Arial, serif;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 147.05882353%;
  padding: 1rem 0;
}
main {
  height: 682rem;
}
header {
  position: relative;
  padding: 3rem;
  color: white;
  z-index: 3;
}
header h1 {
  display: inline-block;
  position: absolute;
  top: 3.8rem;
  left: 13rem;
  margin: 0;
  font-family: 'Open Sans Light', Arial, serif;
  font-weight: 100;
  font-size: 2.7rem;
}
header h1 span {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
}
header ul {
  display: block;
  position: absolute;
  right: 3rem;
  top: 5rem;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  font-size: 1.5rem;
}
header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1.5rem;
  transition: 1s;
}
header ul li:hover,
header ul li:active {
  color: #1e2123;
}
header ul li:last-child {
  margin-right: 0;
}
.slider {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 75rem;
  overflow: hidden;
  color: white;
  background-color: #2699d4;
  z-index: 2;
}
.slider__img {
  display: block;
  position: absolute;
  width: 100%;
  min-height: inherit;
  background: url(../img/slider1.jpg) no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.slider__text-block {
  text-align: left;
  max-width: 62.5%;
  top: 40%;
  left: 18.75%;
  background-color: initial;
}
.slider__text-block__line {
  background-color: white;
}
.slider__text-block__text {
  font-family: 'Open Sans', Arial, serif;
  display: inline;
  margin: 0;
  font-weight: 300;
  font-size: 1.7rem;
  padding: 0;
}
.slider__nav {
  display: block;
  transition: 1s;
  top: 63rem;
  left: 18.75%;
  min-height: 1rem;
  background-color: initial;
}
.slider__nav ol {
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.6rem;
}
.slider__nav ol li {
  display: inline-block;
  border-spacing: .3rem;
  border-style: solid;
  border-color: white;
  text-align: center;
  padding: .2% 0;
}
.slider__nav__prev,
.slider__nav__next,
.slider__nav__num {
  transition: 1s;
}
.slider__nav__prev:hover,
.slider__nav__next:hover,
.slider__nav__num:hover {
  color: #1e2123;
  border-color: #1e2123;
}
.slider__nav__prev,
.slider__nav__next {
  width: 5%;
  height: 3.3rem;
  box-sizing: border-box;
}
.slider__nav__num,
.slider__nav__num--active {
  width: 2.57%;
  height: 3.3rem;
  box-sizing: border-box;
}
.slider__nav__num--active {
  background: white;
  color: #2699d4;
}
.services {
  display: block;
  width: 100%;
  position: relative;
  top: 62rem;
}
.services__text-block {
  text-align: left;
  max-width: 62.5%;
  top: 20rem;
  left: 18.75%;
  background-color: initial;
}
.services__text-block__line {
  background: #1e2123;
}
.services__text-block__text {
  padding: 0;
}
.services__content-block {
  top: 34rem;
}
.services__content-block:after {
  content: " ";
  display: block;
  clear: both;
}
.services__content-block img {
  float: left;
  margin-left: -1rem;
  margin-right: 5rem;
  max-width: 50.8%;
}
.services__content-block h2 {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.services__content-block__text {
  float: left;
  max-width: 27.34%;
  margin-top: 8rem;
}
.services__content-block__text .right {
  float: right;
}
.services .right h2 {
  text-align: right;
}
.services .right img {
  float: right;
  margin-right: -1rem;
  margin-left: 5rem;
}
.services .right .services__content-block__text {
  float: right;
}
.gallery {
  display: block;
  width: 100%;
  position: relative;
  top: 89.2rem;
  z-index: 2;
}
.gallery__text-block {
  text-align: left;
  max-width: 62.5%;
  top: 20rem;
  left: 18.75%;
  background-color: initial;
}
.gallery__text-block__line {
  background: #1e2123;
}
.gallery__text-block__text {
  padding: 0;
}
.gallery__text-block ul {
  display: block;
  max-width: 57rem;
  list-style-type: none;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0c9aec;
  margin-bottom: 4.5rem;
}
.gallery__text-block ul li {
  display: inline-block;
  border-spacing: .3rem;
  border-style: solid;
  border-color: #0c9aec;
  text-align: center;
  padding: .7%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: 1s;
}
.gallery__text-block ul li:hover {
  background-color: #0c9aec;
  color: white;
}
.gallery__text-block ul .active {
  color: white;
  border-color: #1e2123;
  background-color: #1e2123;
}
.gallery__preview-block {
  top: 29rem;
  color: white;
  text-align: center;
}
.gallery__preview-block__part {
  display: block;
  max-width: 50.75521%;
  height: 33.3rem;
  top: 0;
  background-color: #2699d4;
}
.gallery__preview-block__part img {
  position: relative;
  transition: 1s;
}
.gallery__preview-block__part h2 {
  display: none;
  transition: 1s;
}
.gallery__preview-block__part p {
  display: none;
  transition: 1s;
}
.gallery__preview-block__part a {
  display: none;
  transition: 1s;
}
.gallery__preview-block__part:hover img {
  opacity: .1;
}
.gallery__preview-block__part:hover h2 {
  display: block;
  position: absolute;
  top: 8.5rem;
  left: 50%;
  max-width: 16rem;
  margin-left: -8rem;
  text-transform: uppercase;
  font-size: 1.9rem;
}
.gallery__preview-block__part:hover p {
  display: block;
  position: absolute;
  top: 14rem;
  left: 50%;
  margin-left: -24rem;
  max-width: 48rem;
  font-size: 1.5rem;
}
.gallery__preview-block__part:hover a {
  display: block;
  position: absolute;
  bottom: 7rem;
  left: 50%;
  margin-left: -5.6rem;
  max-width: 11.2rem;
  min-height: 3.4rem;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0c9aec;
  background-color: white;
  border: 3px solid white;
  box-sizing: border-box;
  padding: .6rem;
}
.gallery__preview-block__part:nth-child(odd) {
  float: left;
  margin-left: -1rem;
}
.gallery__preview-block__part:nth-child(even) {
  float: right;
  margin-right: -1rem;
}
.about {
  display: block;
  width: 100%;
  position: relative;
  top: 113rem;
}
.about__text-block {
  text-align: left;
  max-width: 62.5%;
  top: 20rem;
  left: 18.75%;
  background-color: initial;
}
.about__text-block__line {
  background: #1e2123;
}
.about__text-block__text {
  padding: 0;
}
.about__content-block {
  top: 30rem;
  overflow: hidden;
}
.about__content-block ul {
  display: inline-block;
  max-width: 31rem;
  list-style-type: none;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0c9aec;
  margin: 3.5rem 0;
}
.about__content-block ul li {
  display: inline-block;
  border-spacing: .3rem;
  border-style: solid;
  border-color: #0c9aec;
  text-align: center;
  padding: .78%;
  margin-right: 1rem;
  margin-bottom: .5rem;
  transition: 1s;
}
.about__content-block ul li:hover {
  background-color: #0c9aec;
  color: white;
}
.about__content-block img {
  float: left;
  margin-left: -1rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}
.about__content-block h1 {
  display: inline-block;
  max-width: 36rem;
  font-size: 3.3rem;
  font-family: 'Open Sans', Arial, serif;
  font-weight: 300;
  vertical-align: top;
  margin-left: 0;
}
.about__content-block h1 span {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
}
.about__content-block p {
  padding: 1rem 24rem;
}
.about__content-block__skills {
  display: block;
  float: right;
  width: 64rem;
  margin-left: 4.5rem;
}
.about__content-block__skills i {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: normal;
  color: white;
  background-color: #1e2123;
  padding: .5rem 1rem;
  margin-bottom: 0;
}
.about__content-block__skills i:first-of-type {
  left: 44.7rem;
}
.about__content-block__skills i:nth-of-type(2) {
  left: 26.2rem;
}
.about__content-block__skills i:nth-of-type(3) {
  left: 44.9rem;
}
.about__content-block__skills i:last-of-type {
  left: 18.6rem;
}
.about__content-block__skills__progress {
  background-color: #eee;
  height: 1rem;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.about__content-block__skills__progress span {
  display: inline-block;
  height: 100%;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -ms-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: #0c9aec;
}
.about__content-block__skills h3 {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.about__content-block__skills h4 {
  display: inline-block;
  font-family: 'Open Sans', Arial, serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.contact {
  display: block;
  width: 100%;
  position: relative;
  top: 138rem;
}
.contact__text-block {
  text-align: left;
  max-width: 62.5%;
  top: 20rem;
  left: 18.75%;
  background-color: initial;
}
.contact__text-block__line {
  background: #1e2123;
}
.contact__text-block__text {
  padding: 0;
}
.contact__adress-block {
  top: 30rem;
}
.contact__adress-block__map {
  float: left;
  margin-right: 4rem;
  height: 80rem;
}
.contact__adress-block__adress h2 {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.contact__adress-block__adress p {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}
.contact__adress-block__contacts {
  margin: 4rem 0;
}
.contact__adress-block__contacts a {
  color: #0c9aec;
}
.contact__adress-block form {
  display: block;
  margin: 1.5rem 0;
}
.contact__adress-block form label,
.contact__adress-block form input {
  display: block;
}
.contact__adress-block form label {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.contact__adress-block form input,
.contact__adress-block form textarea {
  width: 35.5rem;
  height: 4.3rem;
  border: 2px solid #e8e8e9;
  font-family: 'Open Sans', Arial, serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #1e2123;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}
.contact__adress-block form input:active,
.contact__adress-block form textarea:active,
.contact__adress-block form input:focus,
.contact__adress-block form textarea:focus {
  border: 2px solid #1e2123;
  outline: none;
}
.contact__adress-block form textarea {
  height: 18rem;
}
.contact__adress-block form input[type="submit"] {
  background-color: inherit;
  border: 3px solid #0c9aec;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding: .78%;
  color: #0c9aec;
  transition: 1s;
}
.contact__adress-block form input[type="submit"]:hover,
.contact__adress-block form input[type="submit"]:focus,
.contact__adress-block form input[type="submit"]:active {
  background-color: #0c9aec;
  color: white;
}
footer {
  display: block;
  max-width: 100%;
  text-align: right;
  padding: 0 2.343%;
  box-sizing: border-box;
}
footer ul {
  display: block;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
  font-size: 1.5rem;
}
footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1.171%;
  transition: 1s;
}
footer ul li:hover,
footer ul li:active {
  color: #0c9aec;
}
footer ul li:last-child {
  margin-right: 0;
}
footer hr {
  display: inline-block;
  background: #1e2123;
  margin: 2rem 0;
}
footer p {
  font-size: 1.1rem;
}
footer p span {
  font-family: 'Open Sans Bold', Arial, serif;
  font-weight: 600;
}
