@import url(normalize.css);
@font-face
{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;

    src: local('Open Sans'), url('../fonts/open-sans/OpenSans-Regular.woff') format('woff');
}
@font-face
{
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;

    src: local('Open Sans Light'), url('../fonts/open-sans/OpenSans-Light.woff') format('woff');
}
@font-face
{
    font-family: 'Open Sans Italic';
    font-weight: normal;
    font-style: normal;

    src: local('Open Sans Italic'), url('../fonts/open-sans/OpenSans-Italic.woff') format('woff');
}
@font-face
{
    font-family: 'Open Sans Bold';
    font-weight: normal;
    font-style: normal;

    src: local('Open Sans Bold'), url('../fonts/open-sans/OpenSans-Bold.woff') format('woff');
}
.openSans
{
    font-family: 'Open Sans', Arial, serif;
    font-weight: 300;
}
.openSansBold
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-weight: 600;
}
.openSansExtraB
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-weight: 900;
}
.openSansItalic
{
    font-family: 'Open Sans Italic', Arial, serif;
    font-weight: 300;
    font-style: italic;
}
.openSansLight
{
    font-family: 'Open Sans Light', Arial, serif;
    font-weight: 100;
}
*
{
    z-index: 0;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-family: 'Open Sans', serif;
    font-size: 62.5%;
}
a
{
    text-decoration: none;

    color: inherit;
}
h1
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 4.1rem;
    font-weight: 900;

    margin: 0;
    margin-left: 8rem;

    text-transform: uppercase;
}
hr
{
    width: 6rem;
    height: 1rem;
    margin: 4rem 0;
    margin-left: 8rem;

    border: none;
}
p
{
    font-family: 'Open Sans', Arial, serif;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 147.05882353%;

    padding: 1rem 0;
}
header
{
    position: absolute;
    z-index: 3;

    width: 100%;
    padding: 3rem;

    color: white;
}
header h1
{
    font-family: 'Open Sans Light', Arial, serif;
    font-size: 2.7rem;
    font-weight: 100;

    position: absolute;
    top: 3.8rem;
    left: 13rem;

    display: inline-block;

    margin: 0;
}
header h1 span
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-weight: 900;
}
header ul
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 600;

    position: absolute;
    top: 5rem;
    right: 3rem;

    display: block;

    text-transform: uppercase;
}
header ul li
{
    display: inline-block;

    margin: 0 1.5rem;

    list-style-type: none;

    transition: 1s;
}
header ul li:hover,
header ul li:active
{
    color: #1e2123;
}
header ul li:last-child
{
    margin-right: 0;
}
.slider
{
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    min-height: 75rem;

    color: white;
    background-color: #2699d4;
}
.slider__img
{
    position: absolute;

    display: block;

    width: 100%;
    min-height: inherit;

    opacity: .1;
    background: url(../img/slider1.jpg) no-repeat;
    background-size: cover;
}
.slider__text-block
{
    position: absolute;
    top: 40%;
    left: 25.78125rem;

    width: 62.5%;

    text-align: left;

    background-color: initial;
}
.slider__text-block__line
{
    background-color: white;
}
.slider__text-block__text
{
    font-family: 'Open Sans', Arial, serif;
    font-size: 1.7rem;
    font-weight: 300;

    display: inline;

    margin: 0;
    padding: 0;
}
.slider__nav
{
    top: 66rem;
    left: 25.78125rem;

    display: block;

    min-height: 1rem;
    margin-left: 8rem;

    transition: 1s;

    background-color: initial;
}
.slider__nav ol
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.6rem;
    font-weight: 900;

    list-style-type: none;

    text-transform: uppercase;
}
.slider__nav ol li
{
    display: inline-block;

    padding: .2% 0;

    border-spacing: .3rem;

    text-align: center;

    border-style: solid;
    border-color: white;
}
.slider__nav__prev,
.slider__nav__next,
.slider__nav__num
{
    transition: 1s;
}
.slider__nav__prev:hover,
.slider__nav__next:hover,
.slider__nav__num:hover
{
    color: #1e2123;
    border-color: #1e2123;
}
.slider__nav__prev,
.slider__nav__next
{
    box-sizing: border-box;
    width: 5%;
    height: 3.3rem;
}
.slider__nav__num,
.slider__nav__num--active
{
    box-sizing: border-box;
    width: 2.57%;
    height: 3.3rem;
}
.slider__nav__num--active
{
    color: #2699d4;
    background: white;
}
.services
{
    position: relative;

    display: block;

    width: 100%;
    margin-top: 20rem;
}
.services__text-block
{
    left: 18.75%;

    max-width: 62.5%;
    margin-bottom: 10rem;

    text-align: left;
}
.services__text-block__line
{
    background: #1e2123;
}
.services__text-block__text
{
    padding: 0;
}
.services__content-block:after
{
    display: block;
    clear: both;

    content: ' ';
}
.services__content-block img
{
    float: left;

    max-width: 50%;
    margin-right: 5rem;
}
.services__content-block h2
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.9rem;
    font-weight: 900;

    margin-bottom: 1.5rem;

    text-transform: uppercase;
}
.services__content-block__text
{
    float: left;

    max-width: 27.34%;
    margin-top: 8rem;
}
.services__content-block__text .right
{
    float: right;
}
.services .right h2
{
    text-align: right;
}
.services .right img
{
    float: right;

    margin-right: 0;
    margin-left: 5rem;
}
.services .right .services__content-block__text
{
    float: right;
}
.gallery
{
    position: relative;

    display: block;

    width: 100%;
    margin-top: 20rem;
}
.gallery__text-block
{
    left: 18.75%;

    max-width: 62.5%;
    margin-bottom: 10rem;

    text-align: left;
}
.gallery__text-block__line
{
    background: #1e2123;
}
.gallery__text-block__text
{
    padding: 0;
}
.gallery__text-block ul
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 900;

    display: block;

    max-width: 57rem;
    margin-bottom: 4.5rem;

    list-style-type: none;

    text-transform: uppercase;

    color: #0c9aec;
}
.gallery__text-block ul li
{
    display: inline-block;

    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: .7%;

    border-spacing: .3rem;

    transition: 1s;
    text-align: center;

    border-style: solid;
    border-color: #0c9aec;
}
.gallery__text-block ul li:hover
{
    color: white;
    background-color: #0c9aec;
}
.gallery__text-block ul .active
{
    color: white;
    border-color: #1e2123;
    background-color: #1e2123;
}
.gallery__preview-block
{
    overflow: hidden;

    margin-top: 0;

    text-align: center;

    color: white;
}
.gallery__preview-block__part
{
    position: relative;
    top: 0;

    display: inline-block;

    max-width: 50%;
    height: 33rem;

    background-color: #2699d4;
}
.gallery__preview-block__part img
{
    position: relative;

    width: 100%;
    height: 100%;

    transition: 1s;
}
.gallery__preview-block__part h2
{
    display: none;

    transition: 1s;
}
.gallery__preview-block__part p
{
    display: none;

    transition: 1s;
}
.gallery__preview-block__part a
{
    display: none;

    transition: 1s;
}
.gallery__preview-block__part:hover img
{
    opacity: .1;
}
.gallery__preview-block__part:hover h2
{
    font-size: 1.9rem;

    position: absolute;
    top: 8.5rem;
    left: 50%;

    display: block;

    max-width: 16rem;
    margin-left: -8rem;

    text-transform: uppercase;
}
.gallery__preview-block__part:hover p
{
    font-size: 1.5rem;

    position: absolute;
    top: 14rem;
    left: 50%;

    display: block;

    max-width: 48rem;
    margin-left: -24rem;
}
.gallery__preview-block__part:hover a
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 900;

    position: absolute;
    bottom: 7rem;
    left: 50%;

    display: block;

    box-sizing: border-box;
    max-width: 11.2rem;
    min-height: 3.4rem;
    margin-left: -5.6rem;
    padding: .6rem;

    text-transform: uppercase;

    color: #0c9aec;
    border: 3px solid white;
    background-color: white;
}
.gallery__preview-block__part:nth-child(odd)
{
    float: left;
}
.gallery__preview-block__part:nth-child(even)
{
    float: right;
}
.about
{
    position: relative;

    display: block;

    width: 100%;
    margin-top: 20rem;
}
.about__text-block
{
    left: 18.75%;

    max-width: 62.5%;
    margin-bottom: 10rem;

    text-align: left;
}
.about__text-block__line
{
    background: #1e2123;
}
.about__text-block__text
{
    padding: 0;
}
.about__content-block
{
    overflow: hidden;
}
.about__content-block ul
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 900;

    display: inline-block;

    max-width: 31rem;
    margin: 3.5rem 0;

    list-style-type: none;

    text-transform: uppercase;

    color: #0c9aec;
}
.about__content-block ul li
{
    display: inline-block;

    margin-right: 1rem;
    margin-bottom: .5rem;
    padding: .78%;

    border-spacing: .3rem;

    transition: 1s;
    text-align: center;

    border-style: solid;
    border-color: #0c9aec;
}
.about__content-block ul li:hover
{
    color: white;
    background-color: #0c9aec;
}
.about__content-block img
{
    float: left;

    margin-right: 5rem;
    margin-bottom: 2rem;
}
.about__content-block h1
{
    font-family: 'Open Sans', Arial, serif;
    font-size: 3.3rem;
    font-weight: 300;

    display: inline-block;

    max-width: 36rem;
    margin-left: 0;

    vertical-align: top;
}
.about__content-block h1 span
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-weight: 900;
}
.about__content-block p
{
    padding: 1rem 24rem;
}
.about__content-block__skills
{
    display: block;
    float: right;

    width: 64rem;
    margin-left: 4.5rem;
}
.about__content-block__skills i
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: normal;

    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding: .5rem 1rem;

    color: white;
    background-color: #1e2123;
}
.about__content-block__skills i:first-of-type
{
    left: 44.7rem;
}
.about__content-block__skills i:nth-of-type(2)
{
    left: 26.2rem;
}
.about__content-block__skills i:nth-of-type(3)
{
    left: 44.9rem;
}
.about__content-block__skills i:last-of-type
{
    left: 18.6rem;
}
.about__content-block__skills__progress
{
    box-sizing: border-box;
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
    padding: 0;

    background-color: #eee;
}
.about__content-block__skills__progress span
{
    display: inline-block;

    height: 100%;

    -webkit-transition: width .4s ease-in-out;
       -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
         -o-transition: width .4s ease-in-out;
            transition: width .4s ease-in-out;

    background-color: #0c9aec;
}
.about__content-block__skills h3
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 2rem;

    text-transform: uppercase;
}
.about__content-block__skills h4
{
    font-family: 'Open Sans', Arial, serif;
    font-size: 1.3rem;
    font-weight: 300;

    display: inline-block;

    margin-top: 2rem;

    text-transform: uppercase;
}
.contact
{
    position: relative;

    display: block;

    width: 100%;
    margin-top: 20rem;
}
.contact__text-block
{
    left: 18.75%;

    max-width: 62.5%;
    margin-bottom: 10rem;

    text-align: left;
}
.contact__text-block__line
{
    background: #1e2123;
}
.contact__text-block__text
{
    padding: 0;
}
.contact__adress-block__map
{
    float: left;

    height: 80rem;
    margin-right: 4rem;
}
.contact__adress-block__adress h2
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.7rem;
    font-weight: 600;

    text-transform: uppercase;
}
.contact__adress-block__adress p
{
    font-size: 1.7rem;

    margin-top: 1.5rem;
}
.contact__adress-block__contacts
{
    margin: 4rem 0;
}
.contact__adress-block__contacts a
{
    color: #0c9aec;
}
.contact__adress-block form
{
    display: block;

    margin: 1.5rem 0;
}
.contact__adress-block form label,
.contact__adress-block form input
{
    display: block;
}
.contact__adress-block form label
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.7rem;
    font-weight: 600;

    margin-bottom: 1rem;

    text-transform: uppercase;
}
.contact__adress-block form input,
.contact__adress-block form textarea
{
    font-family: 'Open Sans', Arial, serif;
    font-size: 1.5rem;
    font-weight: 300;

    width: 35.5rem;
    height: 4.3rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;

    transition: 1s;

    color: #1e2123;
    border: 2px solid #e8e8e9;
}
.contact__adress-block form input:active,
.contact__adress-block form textarea:active,
.contact__adress-block form input:focus,
.contact__adress-block form textarea:focus
{
    border: 2px solid #1e2123;
    outline: none;
}
.contact__adress-block form textarea
{
    height: 18rem;
}
.contact__adress-block form input[type='submit']
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 900;

    box-sizing: border-box;
    padding: .78%;

    transition: 1s;
    text-transform: uppercase;

    color: #0c9aec;
    border: 3px solid #0c9aec;
    background-color: inherit;
}
.contact__adress-block form input[type='submit']:hover,
.contact__adress-block form input[type='submit']:focus,
.contact__adress-block form input[type='submit']:active
{
    color: white;
    background-color: #0c9aec;
}
footer
{
    display: block;

    box-sizing: border-box;
    max-width: 100%;
    margin-top: 23rem;
    padding: 0 2.343%;

    text-align: right;
}
footer ul
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-size: 1.5rem;
    font-weight: 600;

    display: block;

    text-transform: uppercase;
}
footer ul li
{
    display: inline-block;

    margin: 0 1.171%;

    list-style-type: none;

    transition: 1s;
}
footer ul li:hover,
footer ul li:active
{
    color: #0c9aec;
}
footer ul li:last-child
{
    margin-right: 0;
}
footer hr
{
    display: inline-block;

    margin: 2rem 0;

    background: #1e2123;
}
footer p
{
    font-size: 1.1rem;
}
footer p span
{
    font-family: 'Open Sans Bold', Arial, serif;
    font-weight: 600;
}
