@import url(normalize.css);

@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
src: local('Open Sans'), url('../fonts/open-sans/OpenSans-Regular.woff') format('woff');
}

@font-face {
font-family: 'Open Sans Light';
font-style: normal;
font-weight: normal;
src: local('Open Sans Light'), url('../fonts/open-sans/OpenSans-Light.woff') format('woff');
}

@font-face {
font-family: 'Open Sans Italic';
font-style: normal;
font-weight: normal;
src: local('Open Sans Italic'), url('../fonts/open-sans/OpenSans-Italic.woff') format('woff');
}

@font-face {
font-family: 'Open Sans Bold';
font-style: normal;
font-weight: normal;
src: local('Open Sans Bold'), url('../fonts/open-sans/OpenSans-Bold.woff') format('woff');
}

.openSans{
	font-family: 'Open Sans', Arial, serif;
	font-weight: 300;
}

.openSansBold{
	font-family: 'Open Sans Bold', Arial, serif;
	font-weight: 600;
}

.openSansExtraB{
	font-family: 'Open Sans Bold', Arial, serif;
	font-weight: 900;
}

.openSansItalic{
	font-family: 'Open Sans Italic', Arial, serif;
	font-weight: 300;
	font-style: italic;
}

.openSansLight{
	font-family: 'Open Sans Light', Arial, serif;
	font-weight: 100;
}

@main-back: rgb(15%, 60%, 83%, .5);;
@main-blue: #0c9aec;
@black: #1e2123;

*{
	margin: 0;
	padding: 0;
	z-index: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	font-family: 'Open Sans', serif;
	// background-color: @main-back; //временный фон
	// max-width: 128rem;
}

body{
	// padding: 1rem;
}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	.openSansExtraB;
	font-size: 4.1rem;
	text-transform: uppercase;
	margin: 0;
	margin-left: 8rem;
}

hr{
	width: 6rem;
	height: 1rem;
	border: none;
	margin: 4rem 0;
	margin-left: 8rem;
}

p{
	.openSans;
	font-size: 1.7rem;
	line-height: 100%*(25px/17px);
	padding: 1rem 0;
}


main{
	height: 280rem+142rem+127rem+100rem+33rem;
}


// Шапка сайта
header{
	position: relative;
	padding: 3rem;
	color: white;
	z-index: 3;

	h1{
		display: inline-block;
		position: absolute;
    	top: 3.8rem;
    	left: 13rem;
		margin: 0;
		.openSansLight;
		font-size: 2.7rem;

		span{
			.openSansExtraB;
			font-weight: 900;
		}
	}

	ul{
		display: block;
		position: absolute;
		right: 3rem;
		top: 5rem;
		text-transform: uppercase;
		.openSansBold;
		font-size: 1.5rem;

		li{
			display: inline-block;
			list-style-type: none;
			margin: 0 1.5rem;
			transition: 1s;

			&:hover, &:active{
				color: @black;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}
}

// Слайдер

.slider{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 75rem;
	overflow: hidden;
	color: white;
	background-color: @main-back;
	z-index: 2;

	&__img{
		display: block;
		position: absolute;
	    width: 100%;
	    min-height: inherit;
	    background: url(../img/slider1.jpg) no-repeat;
	    background-size: cover;
	    opacity: 0.1;
	}

	&__text-block{
		text-align: left;
		max-width: 62.5%;
		top: 40%;
		left: 18.75%;
		background-color: initial;

		&__h1{

		}

		&__line{
			background-color: white;
		}

		&__text{
			.openSans;
			display: inline;
			margin: 0;
			font-weight: 300;
			font-size: 1.7rem;
			padding: 0;
		}
	}

	&__nav{
		display: block;
		transition: 1s;
		top: 63rem;
    	left: 18.75%;
    	min-height: 1rem;
    	background-color: initial;

		ol{
			list-style-type: none;
			text-transform: uppercase;
			.openSansExtraB;
			font-size: 1.6rem;

			li{
				display: inline-block;
				border-spacing: .3rem;
				border-style: solid;
				border-color: white;
				text-align: center;
				padding: .2% 0;
			}
		}

		&__prev,
		&__next,
		&__num{
			transition: 1s;
		}

		&__prev:hover,
		&__next:hover,
		&__num:hover{
			color: @black;
			border-color: @black;
		}

		&__prev, &__next{
			width: 5%;
			height: 3.3rem;
			box-sizing: border-box;
		}

		&__num, &__num--active{
			width: 2.57%;
			height: 3.3rem;
			box-sizing: border-box;
		}

		&__num--active{
			background: white;
			color: @main-back;
		}
	}
}

// Блок услуг

.services{
	display: block;
	width: 100%;
	position: relative;
    top: 62rem;

	&__text-block{
		text-align: left;
		max-width: 62.5%;
		top: 20rem;
		left: 18.75%;
		background-color: initial;
		// margin-bottom: 12rem;

		&__h1{

		}

		&__line{
			background: @black;
		}

		&__text{
			padding: 0;
		}
	}

	&__content-block{
		top: 34rem;

		&:after{
			content: " ";
			display: block;
			clear: both;
		}

		img{
			float: left;
			margin-left: -1rem;
			margin-right: 5rem;
			max-width: 50.8%;
		}

		h2{
			.openSansExtraB;
			font-size: 1.9rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}

		&__text{
			float: left;
			max-width: 27.34%;
			margin-top: 8rem;

			.right {
				float: right;
			}
		}
	}

	//Класс для выравнивания по правой стороне
	.right {

		h2{
			text-align: right;
		}

		img{
			float: right;
			margin-right: -1rem;
			margin-left: 5rem;
		}

		.services__content-block__text{
			float: right;
		}
	}
}

// Галлерея. Раздел "Работы"

.gallery{
	display: block;
	width: 100%;
	position: relative;
    top: 89.2rem;
    z-index: 2;

    &__text-block{
		text-align: left;
		max-width: 62.5%;
		top: 20rem;
		left: 18.75%;
		background-color: initial;
		// margin-bottom: 12rem;

		&__h1{

		}

		&__line{
			background: @black;
		}

		&__text{
			padding: 0;
		}

		ul{
			display: block;
			max-width: 57rem;
			list-style-type: none;
			.openSansExtraB;
			font-size: 1.5rem;
			text-transform: uppercase;
			color: @main-blue;
			margin-bottom: 4.5rem;

			li{
				display: inline-block;
				border-spacing: .3rem;
				border-style: solid;
				border-color: @main-blue;
				text-align: center;
				padding: .7%;
				margin-left: 1rem;
				margin-bottom: 1rem;
				transition: 1s;

				&:hover{
					background-color: @main-blue;
					color: white;
				}
			}

			.active{
					color: white;
					border-color: @black;
					background-color: @black;
				}
		}
	}
	&__preview-block{
		top: 29rem;
		color: white;
		text-align: center;

		&__part{
			display: block;
			max-width: 50.75521%;
			height:33.3rem;
			top: 0;
			background-color: @main-back;

			img{
				position: relative;
				transition: 1s;
			}

			h2{
				display: none;
				transition: 1s;
			}

			p{
				display: none;
				transition: 1s;
			}

			a{
				display: none;
				transition: 1s;
			}

			&:hover{

				img{
					opacity: .1;
				}

				h2{
					display: block;
					position: absolute;
					top: 8.5rem;
					left: 50%;
					max-width: 16rem;
					margin-left: -8rem;
					text-transform: uppercase;
					font-size: 1.9rem;
				}

				p{
					display: block;
					position: absolute;
					top: 14rem;
					left: 50%;
					margin-left: -24rem;
					max-width: 48rem;
					font-size: 1.5rem;
				}

				a{
					display: block;
					position: absolute;
					bottom: 7rem;
					left: 50%;
					margin-left: -5.6rem;
					max-width: 11.2rem;
					min-height: 3.4rem;
					.openSansExtraB;
					font-size: 1.5rem;
					text-transform: uppercase;
					color: @main-blue;
					background-color: white;
					border: 3px solid white;
					box-sizing: border-box;
					padding: .6rem;
				}
		}
	}

		&__part:nth-child(odd){
			float: left;
			margin-left: -1rem;
		}

		&__part:nth-child(even){
			float: right;
			margin-right: -1rem;
		}
	}
}

// Блок "О нас"

.about{
	display: block;
	width: 100%;
	position: relative;
    top: 113rem;

    &__text-block{
		text-align: left;
		max-width: 62.5%;
		top: 20rem;
		left: 18.75%;
		background-color: initial;

		&__line{
			background: @black;
		}

		&__text{
			padding: 0;
		}
	}

	&__content-block{
		top: 30rem;
		overflow: hidden;

		ul{
			display: inline-block;
			max-width: 31rem;
			list-style-type: none;
			.openSansExtraB;
			font-size: 1.5rem;
			text-transform: uppercase;
			color: @main-blue;
			margin: 3.5rem 0;

			li{
				display: inline-block;
				border-spacing: .3rem;
				border-style: solid;
				border-color: @main-blue;
				text-align: center;
				padding: .78%;
				margin-right: 1rem;
				margin-bottom: .5rem;
				transition: 1s;

				&:hover{
					background-color: @main-blue;
					color: white;
				}
			}
		}

	    img{
	    	float: left;
	    	margin-left: -1rem;
	    	margin-right: 5rem;
	    	margin-bottom: 2rem;
	    }

	    h1{
	    	display: inline-block;
	    	max-width: 36rem;
	    	font-size: 3.3rem;
	    	.openSans;
	    	vertical-align: top;
	    	margin-left: 0;

	    	span{
	    		.openSansExtraB;
	    	}
	    }

    	p{
			padding: 1rem 24rem;
	    }

	    &__skills{
	    	display: block;
	    	float: right;
	    	width: 64rem;
	    	margin-left: 4.5rem;

	    	i{
	    		display: inline-block;
	    		position: relative;
	    		.openSansBold;
	    		font-size: 1.1rem;
	    		font-style: normal;
	    		color: white;
	    		background-color: @black;
	    		padding: .5rem 1rem;
	    		margin-bottom: 0;

	    		&:first-of-type{
	    			left: 44.7rem;
	    		}

	    		&:nth-of-type(2){
	    			left: 26.2rem;
	    		}

	    		&:nth-of-type(3){
	    			left: 44.9rem;
	    		}

	    		&:last-of-type{
	    			left: 18.6rem;
	    		}
	    	}

	    	&__progress {
	            background-color: #eee;
	            height: 1rem;
	            padding: 0;
	            width: 100%;
	            margin-bottom: 1rem;
	            box-sizing: border-box;

				span {
		            display: inline-block;
		            height: 100%;
					-webkit-transition: width .4s ease-in-out;
					-moz-transition: width .4s ease-in-out;
					-ms-transition: width .4s ease-in-out;
					-o-transition: width .4s ease-in-out;
					transition: width .4s ease-in-out;
					background-color: @main-blue;
	        	}
        	}

        	h3{
				.openSansBold;
				font-size: 1.5rem;
				text-transform: uppercase;
				margin-bottom: 2rem;
        	}

        	h4{
        		display: inline-block;
        		.openSans;
        		font-size: 1.3rem;
        		text-transform: uppercase;
        		margin-top: 2rem;
        	}

	    }
	}
}


// Контакты

.contact{
	display: block;
	width: 100%;
	position: relative;
    top: 138rem;

    &__text-block{
		text-align: left;
		max-width: 62.5%;
		top: 20rem;
		left: 18.75%;
		background-color: initial;

		&__line{
			background: @black;
		}

		&__text{
			padding: 0;
		}
	}

	&__adress-block{
		top: 30rem;

		&__map{
			float: left;
			margin-right: 4rem;
			height: 80rem;
		}

		&__adress{

			h2{
				.openSansBold;
				text-transform: uppercase;
				font-size: 1.7rem;
			}

			p{
				font-size: 1.7rem;
				margin-top: 1.5rem
			}
		}

		&__contacts{
			margin: 4rem 0;

			a{
				color: @main-blue;
			}
		}

		form{
			display: block;
			margin: 1.5rem 0;

			label, input{
				display: block;
			}

			label{
				.openSansBold;
				text-transform: uppercase;
				font-size: 1.7rem;
				margin-bottom: 1rem;
			}

			input, textarea{
				width: 35.5rem;
				height: 4.3rem;
				border: 2px solid #e8e8e9;
				.openSans;
				font-size: 1.5rem;
				color: @black;
				padding: 1.5rem 2rem;
				margin-bottom: 2rem;

				&:active, &:focus{
					border: 2px solid @black;
					outline: none;
				}
			}

			textarea{
				height: 18rem;
			}

			input[type="submit"]{
				background-color: inherit;
				border: 3px solid @main-blue;
				box-sizing: border-box;
				text-transform: uppercase;
				.openSansExtraB;
				font-size: 1.5rem;
				padding: .78%;
				color: @main-blue;
				transition: 1s;

				&:hover,
				&:focus,
				&:active{
					background-color: @main-blue;
					color: white;
				}
			}
		}
	}
	
}

// Футер

footer{
	display: block;
	max-width: 100%;
	text-align: right;
	padding: 0 2.343%;
	box-sizing: border-box;

	ul{
		display: block;
		text-transform: uppercase;
		.openSansBold;
		font-size: 1.5rem;

		li{
			display: inline-block;
			list-style-type: none;
			margin: 0 1.171%;
			transition: 1s;

			&:hover, &:active{
				color: @main-blue;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}

	hr{
		display: inline-block;
		background: @black;
		margin: 2rem 0;
	}

	p{
		font-size: 1.1rem;

		span{
			.openSansBold;
		}
	}
}

